.header {
  padding: 23px 0;
  color: $color-white;
  background: $bg-gradient2;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__logo {
    margin-right: 8%;
  }

  &__menu {
    margin-right: 8%;
    @media (max-width: $media-desk-low) {
      position: fixed;
      z-index: 2;
      left: 0;
      bottom: 0;
      width: 100%;
      color: $color-primary;
    }
  }

  &__contact-phone {
    margin-right: 30px;
    white-space: nowrap;

    @media (max-width: $media-smart) {
      margin-right: 15px;
    }
  }

  &__call + &__burger {
    margin-left: 30px;

    @media (max-width: $media-smart) {
      margin: 0;
    }
  }

  &__burger {
    display: none;

    @media (max-width: $media-desk-low) {
      display: block;
    }

    @media (max-width: $media-smart) {
      transform: scale(0.5);
    }
  }
}

.logo {
  @media (max-width: $media-smart) {
    min-width: 80px;
    width: 30%;
  }

  transition: 0.15s ease-in opacity;

  &:focus-visible:not(:active),
  &:hover:not(:focus):not(:active) {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.call-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;

  @media (max-width: $media-smart) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid $color-white;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
