.navigation-list {
  display: none;

  &--footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    align-items: start;
    gap: 20px;

    @media (max-width: $media-smart) {
      display: block;
    }

    .navigation-list__item:nth-child(1) .navigation-list__sublist-item {
      grid-column: 1;
    }

    .navigation-list__item:nth-child(2) .navigation-list__sublist-item {
      grid-column: 2;
    }

    .navigation-list__item:nth-child(3) .navigation-list__sublist-item {
      grid-column: 3;
    }
  }

  @media (max-width: $media-desk-low) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media (max-width: $media-smart) {
    display: block;
  }

  &__item {
    display: contents;

    @media (max-width: $media-smart) {
      display: block;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-grey;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__caption {
    @include header-link-tab();
    order: -5;

    @media (max-width: $media-smart) {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__sublist {
    display: contents;
    grid-template-rows: subgrid;

    @media (max-width: $media-smart) {
      display: block;
    }
  }

  &__sublist-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  & &__trigger {
    display: none;
    @media (max-width: $media-smart) {
      display: flex;
    }
  }
}
