$media-desktop: 1550px;
$media-desk-low: 1280px;
$media-tablet: 1024px;
$media-medium: 800px;
$media-smart: 695px;

$color-primary: #2a2a30;
$color-secondary: #8c94a8;
$color-accent: #009cd7;

$color-light: #f4f6fb;
$color-grey: #bec2cf;
$color-grey-dark: #8f9096;
$color-error: #ed0101;

$color-brand-green: #14b58a;
$color-brand-blue: #009cd7;
$color-brand-blue-secondary: #5dc8d6;
$color-brand-blue-dark: #004889;

$color-bg-hov: #dceef7;

$color-white: #fff;
$color-black: #000;

$color-backdrop: hsla(223, 7%, 38%, 0.75);

$bg-gradient: linear-gradient(180deg, #14b58a 0%, #009cd7 100%);
$bg-gradient2: linear-gradient(164deg, #14b58a 0%, #009cd7 100%);

$b-radius: 20px;
$b-rad-sm: 8px;
