$container-px-desk: 36px;
$container-px-tab: 72px;
$container-px-smart: 12px;

$container-max-desk: calc(1280px + $container-px-desk + $container-px-desk);

$grid-gap-desktop: 32px;
$grid-gap-smart: 16px;

$media-desktop: 1200px;
$media-tablet: 991px;
$media-medium: 700px;
$media-smart: 552px;

$color-primary: #2a2a30;
$color-secondary: #8c94a8;
$color-accent: #009cd7;

$color-light: #f4f6fb;
$color-grey: #bec2cf;
$color-error: #ed0101;

$color-brand-green: #14b58a;
$color-brand-blue: #009cd7;
$color-brand-blue-secondary: #5dc8d6;
$color-brand-blue-dark: #004889;

$color-white: #fff;
$color-black: #000;

$bg-gradient: linear-gradient(180deg, #14b58a 0%, #009cd7 100%);
$bg-gradient2: linear-gradient(164deg, #14b58a 0%, #009cd7 100%);
